name: Selenium Pytest CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Ensure requirements.txt is in the root folder
        pip install -r requirements.txt

    - name: Run Tests
      # Added --headless=new and corrected the file path
      run: |
        pytest FounditAutomation/tests/pytest_end_to_end.py --junitxml=report.xml -v --capture=tee-sys

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: pytest-report
        path: report.xml